x@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

p {
  font-family: 'Roboto Slab', serif;
  color:#FFFFFF;
  font-size:4em;
}
#content
{
  display: table-cell;
  vertical-align: middle;
  position:relative;
  text-align:center;
  top:-0.5em;
  text-shadow: 0 0 20px #ef3dff,
               0 0 30px #ef3dff;
}
#title
{
  font-size:4em;
  line-height:2em;
  margin:0;
}
#subtitle
{
  font-size:1em;
  line-height:1em;
  margin:0;
}
#fps
{
  position:absolute;
  bottom:0;
  left:0;
  font-size:1em;
  line-height:1em;
  display:inline-block;
  margin:10px
}

html, body
{
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  overflow:hidden;
}

body
{
  background: -webkit-radial-gradient(bottom,#ef3dff,#6224ff);
  background: radial-gradient(at bottom,#ef3dff,#6224ff);
}

#lavalamp
{
  width:100%;
  height:100%;
}
#textWrapper
{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:2;
  display: table;
  text-align: center;
}