/**
 * CREDENTIALS 
 */

canvas {
   
    background-color: #2e1d2f;
    position: absolute;
    left: 0;
    top: 0;
    height: 20%;
    width: 100%;
    z-index: 99999999;

}

#interface {
   
    position: absolute;
    border: 0px solid black;
    
    box-sizing: border-box;
    color: #222;
    height: 20%;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.8);


}

.a {
    /*background-color: red;*/
    /*min-height: 45%;*/
    /*width: 100%;*/
    height: 45%;
    width: 100%;

    overflow: hidden;
    display: flex;
    flex-direction: row;

    /* padding-bottom: 1em;*/

    margin-bottom: 1em;
}

.a_image {
    /*background-color: purple;*/
    height: 100%;
    width: 25%;

    margin-right: 1em;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.a_text {
    /*background-color: orange;*/
    height: fit-content;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;

    margin-right: 1em;
}

.b_image {
    /*background-color: blue;*/
    height: 100%;
    width: 25%;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 1em;
}

.b_text {
    /*background-color: magenta;*/
    height: 100%;
    width: 75%;

    margin-left: 1em;
}

.b {
    /*background-color: green;*/
    height: 45%;
    width: 100%;

    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}


@media only screen and (max-width: 768px) {

    .a {
        /* background-color: red;*/
        height: 33%;
        width: 100%;

        overflow: hidden;
        display: flex;
        flex-direction: column-reverse;

    }

    .fake {
        width: 50%;
        /*box-shadow: 1px 1px 2px black, 0 0 25px #0f0, 0 0 5px black;*/
    }


    .a_image {
        /*background-color: purple;*/
        height: 50%;
        width: 100%;

        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .a_text {
        /*background-color: orange;*/
        height: 50%;
        width: 100%;
    }

    .b_image {
        /*background-color: blue;*/
        height: 50%;
        width: 100%;

        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .b_text {
        /*background-color: magenta;*/
        height: 50%;
        width: 100%;
    }

    .b {
        /*background-color: green;*/
        height: 33%;
        width: 100%;

        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

}


