/**
 * SME  
 */

html,
body {
  margin: 0;
  height: 100%;
  position: fixed;
  width: 100%;
}

* {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
    line-height: 2.1;
}


p {
color: black;
    font-size: 90%;
    text-align: justify;
    text-justify: inter-word;
}

.highlight {
    font-size: 100%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #0f0, 0 0 5px black;
}




canvas {
/*border: 5px solid magenta;*/
background-color: #2e1d2f;
position:absolute;
left:0;
top:0;
height:20%;
width:100%;
z-index: 99999999;
/*max-width: 100%;
max-height: 20%;*/
}

#interface{
/*width:250px;*/
position:absolute;
border:0px solid black;
/*padding:40px; */
box-sizing: border-box;
color:#222;
 height:20%;
  overflow-y:scroll;
    background-color: rgba(255, 255, 255, 0.8);
      

}



.three {

/*  margin-left: 1em;
  margin-right: 1em;*/
  height: 100%;
  /*width: 100%;*/
 /* overflow: hidden;*/
     display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: space-between;
}

.a {
  /*background-color: red;*/
  /*min-height: 45%;*/
  /*width: 100%;*/
   height: 45%;
    width: 100%;

    overflow: hidden;
    display: flex;
    flex-direction: row;

   /* padding-bottom: 1em;*/
 margin-bottom: 1em;
}

.a_image {
  /*background-color: purple;*/
    height: 100%;
    width: 25%;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.a_text {
  /*background-color: orange;*/
   height: fit-content;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
      overflow-y: scroll;
}

.b_image {
  /*background-color: blue;*/
  height: 100%;
  width: 25%;

    overflow: hidden;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.b_text {
  /*background-color: magenta;*/
  height: 100%;
  width: 75%;
}

.b {
  /*background-color: green;*/
height: 45%;
  width: 100%;

  overflow: hidden;
     display: flex;
    flex-direction: row;
     margin-bottom: 1em;
}


/* CRAFTS */





















.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

/*
.box .row {
  border: 1px dotted grey;
}
*/

.box .row.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;

  overflow: scroll;
  background-color:rgba(0, 0, 0, 0.0);
}

.box .row.header {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  width: 100%;
  height: 20%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}












.box .row.footer {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: fit-content;

    background: black;

    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*  z-index: 99999999;*/
}

.footer-social-icons {
    width: fit-content;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-icon {
    color: #fff;
    margin-left: 2.5px;
    margin-right: 2.5px;
    background-color: #322f30;

    padding: 0px;
    border-radius: 3px;
}

#icon {
    /*  padding: 10px 14px;
  border-radius: 4px;*/

    padding-top: 6px;
    padding-bottom: 6px;

    padding-right: 6px;

    padding-left: 6px;

    border-radius: 3px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-instagram:hover {
    color: #fff;
    vertical-align: middle;
    background-color: #d6249f;
    background: radial-gradient(circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%);
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-github:hover {
    background-color: #5a32a3;
}

.fa-apple:hover {
    background-color: #7d7d7d;
}

.fa-stack-overflow:hover {
    background-color: #ff9900;
}

.ai-google-scholar-square:hover {
    background-color: #4285f4;
}

.fa-soundcloud:hover {
    color: #fff;
    vertical-align: middle;
    background-color: #d6249f;
    background: linear-gradient(#ff7700, #ff3801);
}

.fa-envelope:hover {
    background-color: #f0f;
}

.fa-spotify:hover {
    background-color: #1db954;
}

.fa-reddit:hover {
    background-color: #ff5700;
}

.fa-medium:hover {
    background-color: #00ab6c;
}

.fa-meetup:hover {
    background-color: #ed1c40;
}

.fa-telegram:hover {
    background-color: #0088cc;
}


@media only screen and (max-width: 768px) {
    .box .row.footer {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: fit-content;

        background: black;
    
        padding-top: 1px;
        padding-bottom: 1px;
        overflow: scroll;
        width: 100%;


        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .footer-social-icons {
        width: fit-content;
        /*   margin-right: 3px;
    margin-left: 3px;*/

        padding-right: 3.5px;
        padding-left: 3.5px;
        padding-top: 3px;
        padding-bottom: 7px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

.three {


  height: 100%;
 
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.a {
 /* background-color: red;*/
  height: 33%;
  width: 100%;

    overflow: hidden;
     display: flex;
    flex-direction: column-reverse;
   
}

.fake {
    width: 50%;
     /*box-shadow: 1px 1px 2px black, 0 0 25px #0f0, 0 0 5px black;*/
}


.a_image {
  /*background-color: purple;*/
  height: 50%;
  width: 100%;

    overflow: hidden;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.a_text {
  /*background-color: orange;*/
  height: 50%;
  width: 100%;
}

.b_image {
  /*background-color: blue;*/
  height: 50%;
  width: 100%;

    overflow: hidden;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.b_text {
  /*background-color: magenta;*/
  height: 50%;
  width: 100%;
}

.b {
  /*background-color: green;*/
height: 33%;
  width: 100%;

  overflow: hidden;
     display: flex;
    flex-direction: column;
}
}
