/**
 * SME  
 */

html,
body {
  margin: 0;
  height: 100%;
  position: fixed;
  width: 100%;
}

* {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
}

h2 {
  font-size: 1.5rem;
/*  color: #322f30;*/
color: white;
/*  text-shadow: 0.5px 0.5px 1px #f0f;*/
  text-shadow: 1px 1px 2px black, 0 0 25px #0f0, 0 0 5px black;
}

.more {

  font-weight: bold;
  color: #f0f;
  text-shadow: 0.5px 0.5px 0.5px black;
}

p {
  margin-bottom: 1.5em;
  color: black;
}

.card_image {
  border: 0;
  height: auto;
  display: block;

  width: 100%;
}

.card {
  background: white;
  margin-bottom: 2em;
  max-width: 100%;
  
}

.card a {
  color: black;
  text-decoration: none;
}

.card a:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
   padding: 1.4em;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.card-content p {
  font-size: 80%;
}






/* CRAFTS */
canvas{

/*border: 5px solid magenta;*/
background-color: #2e1d2f;
 position:absolute;
left:0;
top:0;
height:20%;
width:100%;
z-index: 99999999;
/*max-width: 100%;
max-height: 20%;*/
}

/*body {
  overflow: hidden;
  background: #EDEDED;
  margin: 0;
  padding: 0;
  font-family: arial;
}*/
p{
	margin:15px 0px;
}
#interface{
/*width:250px;*/
position:absolute;
border:0px solid black;
/*padding:40px; */
box-sizing: border-box;
color:#222;
 height:20%;
  overflow-y:scroll;
    background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 1px 0px 10px #999;

}


input[type="range"] {

	width:100%;

}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    height:10px;

}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #666;
    width: 10px;
    height: 26px;
}

input[type="button"] {
padding:5px;
  margin-bottom:5px;
  margin-top:5px;
      background-color:#FF2948;
border:0px;
  width:100%;
  color:white;
  font-weight:bold;
  font-size:14px;
}

input{
border:0px;
 background-color:transparent;
  margin-top:20px;
  margin-bottom:20px;
  
}
h1{
	padding:0px;
	margin-top:0px;
}

select {
padding:5px;
  margin-bottom:5px;
  margin-top:5px;
    
  width:100%;
  
}
a {
  color:#FF2948;
  font-weight:700;
  
}
 
input[type="text"] {

  width: 100%;
  font-family: sans-serif;
  font-size: 30px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border:0px;
  border-bottom:2px solid #FF2948;
  text-align:center;
}
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
/* CRAFTS */





















/* Flexbox stuff */

.cards {
  overflow: hidden;
  flex-wrap: wrap;
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem 0.25em;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

/*
.box .row {
  border: 1px dotted grey;
}
*/

.centered {

  margin: 0 auto;
  padding: 0 1em;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box .row.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  overflow: scroll;
  background: white;
}

#landing_background {
  top: 0;
  opacity: 0.85;
  width: 100%;
  height: 20%;

  position: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background: black;
}

.sme {
  position: fixed;
  max-width: 100%;
   max-height: 20%;
}

.box .row.header {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  width: 100%;
  height: 20%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box .row.footer {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: fit-content;

  background: black;

  height: fit-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-social-icons {
  width: fit-content;
  padding-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-icon {
  color: #fff;
  margin-left: 2.5px;
  margin-right: 2.5px;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.fa-instagram {
  padding: 10px 14px;
  background-color: #322f30;
  border-radius: 4px;
}
.fa-instagram:hover {
  color: #fff;
  vertical-align: middle;
  background-color: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.fa-twitter {
  padding: 10px 14px;
  background-color: #322f30;
  border-radius: 4px;
}
.fa-twitter:hover {
  background-color: #00aced;
}

.fa-youtube {
  padding: 10px 14px;
  background-color: #322f30;
  border-radius: 4px;
}
.fa-youtube:hover {
  background-color: #e64a41;
}
.fa-github {
  padding: 10px 14px;
  background-color: #322f30;
  border-radius: 4px;
}
.fa-github:hover {
  background-color: #5a32a3;
}

.fa-apple {
  padding: 10px 14px;
  background-color: #322f30;
  border-radius: 4px;
}
.fa-apple:hover {
  background-color: #7d7d7d;
}

.fa-stack-overflow {
  padding: 10px 14px;
  background-color: #322f30;
  border-radius: 4px;
}
.fa-stack-overflow:hover {
  background-color: #ff9900;
}

.ai-google-scholar-square {
  padding: 10px 14px;
  background-color: #322f30;
  border-radius: 4px;
}
.ai-google-scholar-square:hover {
  background-color: #4285f4;
}

.fa-soundcloud {
  padding: 10px 14px;
  background-color: #322f30;
  border-radius: 4px;
}
.fa-soundcloud:hover {
  color: #fff;
  vertical-align: middle;
  background-color: #d6249f;
  background: linear-gradient(#ff7700, #ff3801);
}

.fa-envelope {
  padding: 10px 14px;
  background-color: #322f30;
  border-radius: 4px;
}
.fa-envelope:hover {
  background-color: #f0f;
}

.fa-spotify {
  padding: 10px 14px;
  background-color: #322f30;
  border-radius: 4px;
}
.fa-spotify:hover {
  background-color: #1db954;
}

.fa-reddit {
  padding: 10px 14px;
  background-color: #322f30;
  border-radius: 4px;
}
.fa-reddit:hover {
  background-color: #ff5700;
}

.fa-medium {
  padding: 10px 14px;
  background-color: #322f30;
  border-radius: 4px;
}
.fa-medium:hover {
  background-color: #00ab6c;
}

.fa-meetup {
  padding: 10px 14px;
  background-color: #322f30;
  border-radius: 4px;
}
.fa-meetup:hover {
  background-color: #ed1c40;
}

.fa-telegram {
  padding: 10px 14px;
  background-color: #322f30;
  border-radius: 4px;
}
.fa-telegram:hover {
  background-color: #0088cc;
}

@media screen and (min-width: 40em) {
  .card {
    max-width: calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .card {
    max-width: calc(25% - 1em);
  }
}



@media only screen and (max-width: 768px) {
  .sme {
    width: 100%;
  }

  .cards {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

    .lolol {
    position: absolute;
    width: 100%;
    height: 20%;

    background: #00b4ff;
    color: #333;
    font: 100% Arial, Sans Serif;
    /* height: 100vh;*/
    margin: 0;
    padding: 0;
    
    overflow-x: hidden;
  }

  #background-wrap {
    position: absolute;
    width: 100%;
    height: 30%;
    /*  bottom: 0;*/
    left: 0;
    top: 0;
    /* position: fixed;*/
    right: 0;
    top: -10px;
    /* z-index: -1;*/
  }

/*  .craftsmanship {
    position: absolute;
    top: 140%;
    left: 10%;
    right: 10%;
    width: 80%;
  }*/

  .x1 {
    /*border: 3px solid yellow;*/
    -webkit-animation: animateCloud 30s linear infinite;
    -moz-animation: animateCloud 30s linear infinite;
    animation: animateCloud 30s linear infinite;

    -webkit-transform: scale(0.45);
    -moz-transform: scale(0.45);
    transform: scale(0.45);

    margin-top: 33px;
    margin-right: -50px;
  }

  .x2 {
    /*border: 3px solid black;*/
    margin-top: 5px;
    margin-right: 1000px;

    -webkit-animation: animateCloud 24s linear infinite;
    -moz-animation: animateCloud 24s linear infinite;
    animation: animateCloud 24s linear infinite;

    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
  }

  .x3 {
    margin-top: -50px;
    margin-right: -1000px;
    /*border: 3px dotted orange;*/

    -webkit-animation: animateCloud 40s linear infinite;
    -moz-animation: animateCloud 40s linear infinite;
    animation: animateCloud 40s linear infinite;

    -webkit-transform: scale(0.35);
    -moz-transform: scale(0.35);
    transform: scale(0.35);
  }

  .x4 {
    /*border: 5px solid magenta;*/

    margin-top: -80px;
    margin-right: 1000px;

    -webkit-animation: animateCloud 35s linear infinite;
    -moz-animation: animateCloud 35s linear infinite;
    animation: animateCloud 35s linear infinite;

    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
  }

  .x5 {
    /*border: 5px dotted white;*/

    margin-top: -147px;
    margin-right: 1000px;
    -webkit-animation: animateCloud 45s linear infinite;
    -moz-animation: animateCloud 45s linear infinite;
    animation: animateCloud 45s linear infinite;

    -webkit-transform: scale(0.35);
    -moz-transform: scale(0.35);
    transform: scale(0.35);
  }
}
