/**
 * SME  
 */

html,
body {
  margin: 0;
  height: 100%;
  position: fixed;
  width: 100%;
}

* {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
}

.whoami{
  height: 50%;
  z-index: 99999;
}

#galaxy {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03092b;
  -webkit-transition: background 0.8s ease-out;
  -moz-transition: background 0.8s ease-out;
  -o-transition: background 0.8s ease-out;
  -ms-transition: background 0.8s ease-out;
  transition: background 0.8s ease-out;
}
#galaxy,
#galaxy .bg {
  width: 100%;
  height: 20%;
}
#galaxy * {
  position: absolute;
}
#galaxy .bg {
  /* background: url('https://raw.githubusercontent.com/gurde/css3-animated-galaxy/master/img/bg.jpg') no-repeat 50% 50%; */
}
#galaxy .bg.center {
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  margin: -100px 0 0 -200px;
  opacity: 0.8;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
#galaxy [class^="stars"] {
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#galaxy .stars-back {
  background: url('https://raw.githubusercontent.com/gurde/css3-animated-galaxy/master/img/back.png');
  -webkit-animation: orbit-clock-wise 440s infinite linear;
  -moz-animation: orbit-clock-wise 440s infinite linear;
  -o-animation: orbit-clock-wise 440s infinite linear;
  -ms-animation: orbit-clock-wise 440s infinite linear;
  animation: orbit-clock-wise 440s infinite linear;
}
#galaxy .stars-middle {
  background: url('https://raw.githubusercontent.com/gurde/css3-animated-galaxy/master/img/middle.png');
  -webkit-animation: orbit-counter-clock-wise 360s infinite linear;
  -moz-animation: orbit-counter-clock-wise 360s infinite linear;
  -o-animation: orbit-counter-clock-wise 360s infinite linear;
  -ms-animation: orbit-counter-clock-wise 360s infinite linear;
  animation: orbit-counter-clock-wise 360s infinite linear;
}
#galaxy .stars-front {
  background: url('https://raw.githubusercontent.com/gurde/css3-animated-galaxy/master/img/front.png');
  -webkit-animation: orbit-clock-wise 160s infinite linear;
  -moz-animation: orbit-clock-wise 160s infinite linear;
  -o-animation: orbit-clock-wise 160s infinite linear;
  -ms-animation: orbit-clock-wise 160s infinite linear;
  animation: orbit-clock-wise 160s infinite linear;
}
@-webkit-keyframes orbit-clock-wise {
  0% { opacity: 0.4; -webkit-transform: rotate(0deg); }
  2% { opacity: 0.8; }
  4% { opacity: 0.2; }
  5% { opacity: 0.8; }
  100% { opacity: 0.4; -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes orbit-counter-clock-wise {
  from { -webkit-transform: rotate(360deg); } to { -webkit-transform: rotate(0deg); }
}
@-moz-keyframes orbit-clock-wise {
  0% { opacity: 0.4; -moz-transform: rotate(0deg); }
  2% { opacity: 0.8; }
  4% { opacity: 0.2; }
  5% { opacity: 0.8; }
  100% { opacity: 0.4; -moz-transform: rotate(360deg); }
}
@-moz-keyframes orbit-counter-clock-wise {
  from { -moz-transform: rotate(360deg); } to { -moz-transform: rotate(0deg); }
}
@-o-keyframes orbit-clock-wise {
  0% { opacity: 0.4; -o-transform: rotate(0deg); }
  2% { opacity: 0.8; }
  4% { opacity: 0.2; }
  5% { opacity: 0.8; }
  100% { opacity: 0.4; -o-transform: rotate(360deg); }
}
@-o-keyframes orbit-counter-clock-wise {
  from { -o-transform: rotate(360deg); } to { -o-transform: rotate(0deg); }
}
@-ms-keyframes orbit-clock-wise {
  0% { opacity: 0.4; -ms-transform: rotate(0deg); }
  2% { opacity: 0.8; }
  4% { opacity: 0.2; }
  5% { opacity: 0.8; }
  100% { opacity: 0.4; -ms-transform: rotate(360deg); }
}
@-ms-keyframes orbit-counter-clock-wise {
  from { -ms-transform: rotate(360deg); } to { -ms-transform: rotate(0deg); }
}
@keyframes orbit-clock-wise {
  0% { opacity: 0.4; transform: rotate(0deg); }
  2% { opacity: 0.8; }
  4% { opacity: 0.2; }
  5% { opacity: 0.8; }
  100% { opacity: 0.4; transform: rotate(360deg); }
}
@keyframes orbit-counter-clock-wise {
  from { transform: rotate(360deg); } to { transform: rotate(0deg); }
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}


.box .row.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  overflow: scroll;
  background: white;
  z-index: 99999;
}

.box .row.header {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  width: 100%;
  height: 20%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}





















.box .row.footer {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: fit-content;

    background: black;

    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*  z-index: 99999999;*/
}

.footer-social-icons {
    width: fit-content;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-icon {
    color: #fff;
    margin-left: 2.5px;
    margin-right: 2.5px;
    background-color: #322f30;

    padding: 0px;
    border-radius: 3px;
}

#icon {
    /*  padding: 10px 14px;
  border-radius: 4px;*/

    padding-top: 6px;
    padding-bottom: 6px;

    padding-right: 6px;

    padding-left: 6px;

    border-radius: 3px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-instagram:hover {
    color: #fff;
    vertical-align: middle;
    background-color: #d6249f;
    background: radial-gradient(circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%);
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-github:hover {
    background-color: #5a32a3;
}

.fa-apple:hover {
    background-color: #7d7d7d;
}

.fa-stack-overflow:hover {
    background-color: #ff9900;
}

.ai-google-scholar-square:hover {
    background-color: #4285f4;
}

.fa-soundcloud:hover {
    color: #fff;
    vertical-align: middle;
    background-color: #d6249f;
    background: linear-gradient(#ff7700, #ff3801);
}

.fa-envelope:hover {
    background-color: #f0f;
}

.fa-spotify:hover {
    background-color: #1db954;
}

.fa-reddit:hover {
    background-color: #ff5700;
}

.fa-medium:hover {
    background-color: #00ab6c;
}

.fa-meetup:hover {
    background-color: #ed1c40;
}

.fa-telegram:hover {
    background-color: #0088cc;
}






@media only screen and (max-width: 768px) {
    .sme {
        width: 100%;
    }

    .cards {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box .row.footer {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: fit-content;

        background: black;
    
        padding-top: 1px;
        padding-bottom: 1px;
        overflow: scroll;
        width: 100%;


        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .footer-social-icons {
        width: fit-content;
        /*   margin-right: 3px;
    margin-left: 3px;*/

        padding-right: 3.5px;
        padding-left: 3.5px;
        padding-top: 3px;
        padding-bottom: 7px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


}



