


@media only screen and (max-width: 768px) {
    

/* border: 1px dashed magenta;*/

/*.sme-00 {
 
  top:1.2%;
  width:94%;
   text-align:center;
}*/

 /* border: 1px solid red;*/
/*
.sme-00 {


  width: 80%;
  height: auto;
  margin-top: 1%;
  }*/
}